*{
    margin: 0;
    font-family: "Advent Pro", sans-serif;

    
}

::-webkit-scrollbar{
    width: .5vw;
}

::-webkit-scrollbar-track{
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: black;

  }



.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
    background-color: #fff;
    color: #252525;

    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;


}


.navigation img{
    height: 45px;
    border-radius: 100%;
    margin: 0;
}

.nav-items{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 1.5px;
    position: relative;
}

.nav-items a::before{
    content: ' ';
    position: absolute;
    top: 110%;
    left: 0;

    height: 3px;
    width: 0;
    border-radius: 5px;

    background-color: #fff;
    transition: .3s;
}

.nav-items a:hover::before{
    width: 100%;
    background-color: grey;
}


#home{
    background: url(./home.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}


#home .introduction{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-inline: auto;
}

#home p{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
}

#home img{
    height: 660px;
    filter: drop-shadow(-50px 0 0 grey);
}




.greeting, .student{
    font-size: 3em;
    color: whitesmoke;
    margin-bottom: 20px;
}

.student{
    font-weight: 700;
    color: #FFC331;
}
.name{
    font-size: 4.5em;
    color: whitesmoke;
}
    
#about{
    background: url(./about.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;

}

#about h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}


#about .content{
    align-items: center;
    display: flex;
    width: 900px;
    margin: 50px auto;
}

#about .content p:not(.desc){
    display: flex;
    flex-direction: column;
}

#about .content .info > *{
    width: 550px;
}

#about .content .desc{
    width: 80%;
    text-align:justify;
    
}




#about .content .info span:not(.student){
    font-size: 2em;
}

#about .content .btns{
    width: 80%;
    margin: 80px 0;
    text-align: center;
}



#about .content .btns .resume{
    background-color: #FFC331;
}



#about .content a{

    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 15px 40px;
    margin-inline:10px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    transition: .3s;

}


#about .content a:hover{
    background-color: blueviolet;
    font-size: 1.2em;
}


#about img{
    height: 60vh;
    margin-right: 40px;
}

#tech{
    background: url(./home.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;
}

#tech h1{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#tech .content{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;    

    width: 50rem;
    margin: 50px auto;
}

#tech .content .tools{
    transition: .5s;
}

#tech .content .tools:hover{
    transform: translateY(-12px);
    border-bottom: 4px solid black;
    border-radius: 5px;
    padding-bottom: 5px;
}

#tech .content .tools:active{
    transform: scale(1.5);
    border:none;
}


#tech .content .tools img{
    height: 85px;
}


#tech .content .tools:not(.progress,.current){
    align-items: center;
    text-align: center;
}

#tech .tools .progress{
    margin-top: 35px;
    background-color: blue;
    width: 100%;
    height: 10px;
    border-radius: 40px;
    position: relative;

}

#tech .tools .current{
    background-color: #FFC331;
    height: 10px;
    border-radius: 40px;
    animation: slidePer 5s 1;
}

#tech .tools .current::before{
    content: attr(per);
    position: absolute;
    right: 0;
    top: -20px;
}

@keyframes slidePer{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


#projects{
    background: url(./about.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;
}

#projects h1{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}



#projects .container{
    width: 60rem;
    justify-content: center;
    margin: 50px auto;
    

    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 40px;
}


#projects .card{
    background-color: #1a1a1a;
    width: 18rem;
    border:4px solid whitesmoke;
    border-width: 0px 5px;
    border-radius: 7px;
    transition: .3s;
}


#projects .card:hover{
    /* padding: 10px; */
    transform: translateY(-12px);
    box-shadow: 2px 5px 2px 2px black;
}


#projects .card .cardPic{
    height: 7rem;
    width: 18rem;
}

#projects .card .info .cardTitle{
    font-size: 1.2em;
}

.info hr{
    margin: 5px 0;
}

.info section{
    text-align: center;
    margin: 15px 0px;
}



.info{
    margin: 0 20px;
}

#projects .card .info .cardDesc{
    font-size: .8em;
    color: grey;
    text-transform: capitalize;
}

#projects .card .demo{
    background-color: #FFC331;
    color: black;
    border: 2px solid black;

}

#projects .card .source{
    background-color: black;
    color: whitesmoke;
    border: 2px solid whitesmoke;

}


.card a{
    text-decoration: none;
    padding: 5px 15px;
    /* padding: 8px 20px; */
    border-radius: 5px;
    font-weight: bold;
    margin: 7px 1px;
}

#projects .seeMore{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
}

#contact{
    background: url(./home.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;

}

#contact .container{
    padding-top: 50px;
    text-align: center;
}

#contact .socials{
    margin: 15px;
}

#contact .container .socials a{
    margin: 20px;
    color: white;
    transition: .3s;
}

.socials i{
    transition: .3s;
}

.socials i:hover{

    transform: translateY(-10px) scale(1.2);
    border-radius: 100%;
    box-shadow: 0px 3px 2px white;
}

#contact .container .socials i{
    font-size: 2.5em;
    
    
}


#contact form{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input, #contact textarea{
    display: block;
    width: 30rem;
    margin: 10px 0;

    border-radius: 5px;
    line-height: 2em;

}


footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

footer p{
    padding:2px 0;
}

footer p span{
    color: #FFC331;
    font-weight: bold;
}