*{
    margin: 0;
    
}

::-webkit-scrollbar{
    width: .5vw;
}

::-webkit-scrollbar-track{
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: black;

  }


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #252525;
    color: #fff;

}

.nav-items{
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
}



#home{
    background: url(./home.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}


#home .introduction{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-inline: auto;
}

#home p{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    filter: drop-shadow(3px 0 0 green);
}

#home img{
    height: 660px;
    filter: drop-shadow(-50px 0 0 grey);
}




.greeting, .student{
    font-size: 3em;
    color: whitesmoke;
    margin-bottom: 20px;
}

.student{
    font-weight: 700;
    color: #FFC331;
}
.name{
    font-size: 4.5em;
    color: whitesmoke;
}
    
#about{
    background: url(./about.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;

}

#about h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}


#about .content{
    align-items: center;
    display: flex;
    width: 900px;
    margin: 50px auto;
}

#about .content p:not(.desc){
    display: flex;
    flex-direction: column;
}

#about .content .info > *{
    width: 550px;
}

#about .content .desc{
    width: 80%;
    text-align:justify;
    
}




#about .content .info span:not(.student){
    font-size: 2em;
}

#about .content .btns{
    width: 80%;
    /* background-color: #FFC331; */
    text-align: center;
}

#about .content input{
    margin: 10px 20px;
    border-color: transparent;
    /* padding: 10px 20px; */
    height: 50px;
    width: 170px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}


#about img{
    height: 400px;
    margin-right: 40px;
}

#tech{
    background: url(./home.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;
}

#tech h1{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#tech .content{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;    

    width: 50rem;
    margin: 50px auto;
}

#tech .content .tools img{
    height: 85px;
}


#tech .content .tools:not(.progress,.max,.current){
    align-items: center;
    text-align: center;
}

#tech .tools .progress{
    margin-top: 35px;
    background-color: blue;
    width: 100%;
    height: 10px;
    border-radius: 40px;

}

#tech .tools .max{
    background-color: #FFC331;
    width: 83%;
    height: 10px;
    border-radius: 40px;
}

#tech .tools .current{
    position: relative;
    top: -20px;
    left: 45px;
}


#projects{
    background: url(./about.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;
}

#projects h1{
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#projects .container{
    width: 60rem;
    justify-content: center;
    margin: 50px auto;
    

    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 40px;
}


#projects .card{
    background-color: #1a1a1a;
    width: 18rem;
    border:4px solid whitesmoke;
    border-width: 0px 5px;
    border-radius: 7px;
}

#projects .card .cardPic{
    height: 7rem;
    width: 18rem;
}

#projects .card .info .cardTitle{
    font-size: 1.2em;
}

#projects .card .info .cardDesc{
    font-size: .8em;
    color: grey;
    text-transform: capitalize;
}

#projects .card input[value="DEMO"]{
    background-color: #FFC331;
    color: black;

}

#projects .card input[value="SOURCE CODE"]{
    background-color: black;
    color: whitesmoke;

}

.info hr{
    margin: 5px 0;
}

.info section{
    text-align: center;
}



.info{
    margin: 0 20px;
}

.card input{
    width: 120px;
    height: 2rem;
    border-radius: 5px;
    font-weight: bold;   
    margin: 7px 1px;
}


#contact{
    background: url(./home.png);
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;

}

#contact .container{
    padding-top: 50px;
    text-align: center;
}

#contact .socials{
    margin: 15px;
}

#contact .container .socials a{
    margin: 20px;
    color: black;
}

#contact .container .socials i{
    font-size: 2.5em;
    
}


#contact form{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input, #contact textarea{
    display: block;
    width: 30rem;
    margin: 10px 0;

    border-radius: 5px;
    line-height: 2em;

}


footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

footer p{
    padding:2px 0;
}

footer p span{
    color: #FFC331;
    font-weight: bold;
}